In [1]:
import pandas as pd

In [4]:
file='data/FOIA-FAQ-NPS-Mortality-Data-CY2007-to-CY2023-Released-August-2023.csv'

In [9]:
df=pd.read_csv(file,header=2)
df.head()

,Incident Date,Park Name,Cause of Death,Intent,Outcome,Sex,Age Range
0,1/1/2007,Glen Canyon National Recreation Area,Undetermined,Undetermined,Fatal injury,Male,65+
1,1/22/2007,Golden Gate National Recreation Area,Drowning,Unintentional,Fatal injury,Male,Not Reported
2,1/22/2007,Golden Gate National Recreation Area,Undetermined,Undetermined,Fatal injury,Male,Not Reported
3,1/29/2007,Natchez Trace Parkway,Motor Vehicle Crash,Unintentional,Fatal injury,Female,15-24
4,1/29/2007,Natchez Trace Parkway,Motor Vehicle Crash,Unintentional,Fatal injury,Female,45-54

In [31]:
lake_mead=df.loc[df['Park Name']=='Lake Mead National Recreation Area']
lake_mead['Cause of Death'].value_counts()

Cause of Death
Drowning                                           108
Motor Vehicle Crash                                 57
Undetermined                                        49
Medical                                             34
Suicide                                             21
Other Transportation \n(e.g. bicycle, aircraft)      9
Fall                                                 7
Hyperthermia                                         6
Other                                                5
Poisoning                                            4
Blunt force trauma                                   2
Homicide                                             1
Vessel Incident                                      1
Name: count, dtype: int64

In [27]:
grouped_df=df.groupby(['Park Name']).count()
sorted_df=grouped_df.sort_values(by='Cause of Death',ascending=False)
sorted_df

,Incident Date,Cause of Death,Intent,Outcome,Sex,Age Range
Park Name,,,,,,
Lake Mead National Recreation Area,304,304,304,304,304,304
Grand Canyon National Park,185,185,185,185,185,185
Yosemite National Park,173,173,173,173,173,173
Natchez Trace Parkway,150,150,150,150,150,150
Golden Gate National Recreation Area,142,142,142,142,142,142
...,...,...,...,...,...,...
Kings Mountain National Military Park,1,1,1,1,1,1
Allegheny Portage Railroad National Historic Site,1,1,1,1,1,1
San Juan Island National Historical Park,1,1,1,1,1,1
Devils Tower National Monument,1,1,1,1,1,1
El Morro National Monument,1,1,1,1,1,1

In [12]:
df['Cause of Death'].unique()

array(['Undetermined', 'Drowning', 'Motor Vehicle Crash', 'Fall',
       'Avalanche', 'Other Transportation \n(e.g. bicycle, aircraft)',
       'Poisoning', 'Hypothermia', 'Other', 'Flash flood', 'Hyperthermia',
       'Rockfall', 'Falling ice', 'Lightning Strike ',
       'Wildlife Incident ', 'Falling tree/branch', 'Suicide', 'Medical',
       'Homicide', 'Legal Intervention', 'Vessel Incident',
       'Blunt force trauma', 'suicide', 'Burn', 'Cut from sharp object',
       'Drowning ', 'Falling ice ', 'Lightning strike',
       'Collapsing earth/sand'], dtype=object)

In [18]:
df['Park Name'].value_counts()

Park Name
Lake Mead National Recreation Area                                304
Grand Canyon National Park                                        185
Yosemite National Park                                            173
Natchez Trace Parkway                                             150
Golden Gate National Recreation Area                              142
                                                                 ...
Hopewell Culture National Historical Park                           1
Fort Vancouver National Historic Site                               1
Devils Tower National Monument                                      1
Greenbelt Park                                                      1
Yorktown Battlefield Part of Colonial National Historical Park      1
Name: count, Length: 199, dtype: int64